body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(Sources/imagen-fondo.png);
    background-position: center;
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main {
    padding: 1rem;
}


/*Encabezado*/
.encabezado-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.lista{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

li {
    list-style: none;
}

.menu {
    display: none;
}

.menu-logo {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    height: 65px;
}
/*Menu hamburguesa*/

.menu-hamburguesa {
    position: absolute;
    right: 2rem;
    top: 80px;
    scale: 1 0;
    transform-origin: top;
    width: 300px;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.423);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    transition: scale 0.2s ease-in;  
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.339);
    display: grid;
    place-items: center;
    text-align: center;
}

.menu-hamburguesa.open {
    scale: 1; 
    transition: scale 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-hamburguesa li {
    display: flex;
    padding: 0.7rem;
}

/*Menu responsive*/
@media(max-width: 992px) {
    .encabezado-general .lista,
    .encabezado-general .action-btn {
        display: none;
    }

    .encabezado-general .menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .menu-hamburguesa {
        left: 10rem;
        width: unset;
    }
}


/*Cuerpo de página*/

.general{
    display: grid;
    min-height: 100vh;
    width: 100%;
    place-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.338);
    border: 2px solid rgb(156, 27, 128);
    border-radius: 10px;
    margin-top: 10rem;
    margin-inline: auto;
    padding: 5px;
}

.cuerpo-acceder{
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.338);
    border: 2px solid rgb(156, 27, 128);
    border-radius: 10px;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 5rem;
}

form div {
    position: relative;
    margin: 2rem 0;
    display: flex;

}

form div input{
    background-color: transparent;
    padding: .4rem;
    border: 1px solid white;
    border-radius: 5px;
}

form div p {
    position: absolute; 
    bottom: -.3rem;
    left: .5rem;
    color: white;
    opacity: .7;
    font-size: .8rem;
    transition: .2s;
    z-index: -1;
}

form div input:focus{
    outline-style: none;
}


form div input:focus ~ p, form div input:valid ~ p, form div input:focus:invalid ~ p{
    scale:.85;
    opacity: 1;
    bottom: 1.2rem;
    left: 0;
    z-index: 1;
}

.iniciar-sesion{
    display: flex;
    justify-content: center;
}

#submit-sesion{
    color: white;
}

div.mensaje{
    position: fixed;
    top: 1.5rem;
    right: -100%;
    padding: .8rem 1.2rem;
    border: 2px solid rgb(156, 27, 128);
    border-radius: 20px 0 0 20px;
    display: none;
}

div.incorrecto{
    background-color: rgba(0, 0, 0, 0.338);
    border: 2px solid rgb(156, 27, 128);
    color: red;
}

div.correcto{
    background-color: rgba(0, 0, 0, 0.338);
    border: 2px solid rgb(156, 27, 128);
    color: rgb(0, 255, 8);
}

div.mensaje.activo{
    display: block;
    animation: appear 1s forwards ease-out;
    backdrop-filter: blur(25px);
}

@keyframes appear {
    to{
        right: 0;
    }
}

/*Footer*/

footer{
    background-color: rgba(19, 18, 18, 0.816);
    backdrop-filter: blur(25px);
    border-top: 2px solid rgb(156, 27, 128);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer section{
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
footer section h2{
    position: relative;
}

footer section h2::before{
    position: absolute;
    content: '';
    background-color: rgb(156, 27, 128);
    height: 100%;
    aspect-ratio: 1/2;
    left: -20px;
    border-radius: 2px;
}
footer section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5px;
}
footer section ul li{
    text-decoration: none;
    opacity: 0.5;

}

.links {
    text-decoration: none;
    color: white;
    opacity: 0.9;
}